#--------------------------------------------------# 
# Large Files 
.git/lfs/objects/0d/25/0d25ca2bdda018ed1c66df79505518f972f2b5873ed86a325bbe396861a4abfd 
.git/lfs/objects/8d/b2/8db2a50f09b43a6e75e1d56eb5acb808cad4db2f2558d1da2b1de2de312b07ac 
.git/lfs/objects/98/ec/98eca7c2d5ab4fb21d803128ffa37808a6628eb4a212e20492d55212e09c53a0 
CMPD_RXN_tools/MNXScrapSavings/CPD01_nme_smiles_MNXid_dict.p 
CMPD_RXN_tools/MNXScrapSavings/CPD01_smiles_MNXid_nme_dict.p 
CMPD_RXN_tools/MNXScrapSavings/raw_data/chem_prop.tsv 
