CMPD_RXN_tools/MNXScrapSavings/CPD01_nme_smiles_MNXid_dict.p filter=lfs diff=lfs merge=lfs -text
CMPD_RXN_tools/MNXScrapSavings/CPD01_smiles_MNXid_nme_dict.p filter=lfs diff=lfs merge=lfs -text
CMPD_RXN_tools/MNXScrapSavings/raw_data/chem_prop.tsv filter=lfs diff=lfs merge=lfs -text
